.profile-page {
    padding-left: 16px;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-top: 70px;
}

.profile-page .container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.profile-page .container .top-bar {
    flex: 1;
    width: 100%;
}

.profile-page .container .profile-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.profile-page .container .profile-info .img img{
    background-color: rgb(242, 238, 238);
    border-radius: 35px;
}

.profile-page .container .profile-info .pinterestIcon {
    color: gray
}

.profile-page .container .details {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 18px;
    border: 1px solid #f1f1f1;
    padding: 15px;
    border-radius: 30px;
}

.profile-page .container .details .follow-button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
}

.profile-page .container .details .follow-button:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.profile-page .container .saved-created {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    width: 0%;
    gap: 20px;
}

.profile-page .container .saved-created .saved, .created, .active{
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
}
.profile-page .container .saved-created .active{
    border-bottom: 1px solid green;
    color: green;
}




