.leftBar .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 72px;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 16px ;
  border-right: 1px solid #e9e9e9;
}

.menuIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

}

.menuIcon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.menuIcon:hover {
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  .leftBar {
    position: relative;
  }
  .leftBar .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width:  100vw;
    height: 50px;
    position: fixed;
    top: 0;
    padding: 16px ;
    overflow: hidden;
    z-index: 999;
    background-color: rgba(1, 1, 1, 0.8);
    color: white !important;
  }

  .menuIcons {
    display: flex;
    flex-direction: row;

  }

  .menuIcon:hover {
    background-color: rgba(212, 206, 206, 0.337);;
  }
  .logo {
    width: 35px !important;
    height: 35px !important;
  }
}

