.home-page {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.home-page .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}