.post-page{
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
}

.post-page .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.post-page .container .post-img {
    display: flex;
    justify-content: center;

}
.post-page .container .post-img img{
    border-radius: 50px 0 0 50px;
}
.post-page .container .post-details {
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 16px;
}

.post-page .container .post-details .details-user-comments {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 20px 0 20px;
} 

@media (max-width: 992px) {
    .post-page .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post-page .container .post-details .details-user-comments {

    padding-top: 20px ;
} 

    .post-page .container .post-img img{
        border-radius: 40px;
    }
    .post-page .container .post-details {
        border: none;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        gap: 16px;
    }

}

@media (max-width: 600px) {
    .post-page {
        margin-top: 50px;
    }
}






