.interaction {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.interaction div div, .save-icon{
    cursor: pointer;
}

.interaction .details-icons {
    display: flex;

    flex-direction: row;
    gap: 20px;
}



@media (max-width: 992px) {
    .interaction {
        border: 1px solid #f1f1f1;
        padding: 10px 20px;
        border-radius: 30px;
    }
}





