.top-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 0 5px;
}

.top-bar .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aliceblue !important;
    border-radius: 25px;
    gap: 3px;
    width: 100%;
    padding-left: 8px;
}
.top-bar .search > .bi-search {
    color: gray !important;
}

.top-bar .search > input {
    display: flex;
    font-size: 14px;
    flex: 1;
    background-color: transparent !important;
    padding: 15px 1px !important
}

.top-bar .btn-user {
    align-items: center;
}

@media (max-width: 600px) {
    .top-bar {
        margin-top: 60px;
    }
    .top-bar .search {
        min-width: 250px;
    }
}