.comments-container .heading{
    color: gray;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: medium;
}
.comments-container .comments {
    max-height: 400px; 
    overflow-y: scroll;
    padding-right: 15px; 
}

