.user-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-button .user-img {
    border-radius: 50%;
    background-color: gray;
}

.user-button .user-options{
    position: relative;   

}
.user-button .user-options ul{
    position: absolute;
    top: 8px;
    right: 0;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.177);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color:aliceblue;
    border-radius: 20px;
    z-index: 9999;
    width: 120px;
}

.user-button .user-options ul li:hover{
    color: gray;
    transition: .3s all ease-in-out;
}


.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 14px;
    border-radius: 32px;
}

.login .login-link {
    /* margin-top: 10px !important; */
}