.app {
    width: 100vw;
    display: flex;
    gap: 16px;
    padding-right: 16px;
    overflow: hidden;
}

.logo{
  border-radius: 50%;
}

.btn {
    cursor: pointer;
    background-image: linear-gradient(to left, #37a1f7,#3062e1, #251dfd);
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
}

.btn:hover {
    background-image: linear-gradient(to left, #251dfd,#3062e1, #37a1f7); 
    transition: all .9s ease-in-out 
}