.create-page {
    width: 100%;
    position: relative;
    width: 100vw;
    overflow: hidden;
    padding-right: 5px;
}

 .create-page .container {
    width: 100%;
 }
 
.create-page .container .create-header {
    border-bottom: 1px solid rgb(239, 237, 237);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.create-page .container .create-header .head{
    color: gray;
    font-weight: 500;
}

.create-page .container .create-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    overflow: hidden;
} 





.create-page .container .create-body .upload {
    width: 350px;
    height: 430px;
    background-color: rgb(245, 242, 242);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: gray;
    cursor: pointer;
    border: 1px dashed rgb(233, 231, 231);
    position: relative;
}

.create-page .container .create-body .upload .upload-info {
    position: absolute;
    bottom: 30px;
    padding: 0 10px;
}

.create-page .container .create-body .preview {
    position: relative;
    width: 320px;
    height: 430px;
}

.create-page .container .create-body .preview img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.create-page .container .create-body .preview .edite-icon {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.create-page .container .create-body .preview .edite-icon:hover {
    padding: 11px;
    transition: all .5s ease-in-out;
}

.create-page .container .create-body .form {
    width: 500px;
}

.create-page .container .create-body .form > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.create-page .container .create-body .form label {
    color: gray;
}

.create-page .container .create-body .form input,textarea{
    padding: 12px;
    background-color: rgb(245, 242, 242);
    border-radius: 15px;
    font-size: 14px;
    resize: none;
}

.create-page .container .create-body .form select {
    padding: 10px !important;
    font-size: 14px;  
    outline: none;   
}

.create-page .container .create-body .form .add-product{
    margin-top: 20px;
}


.boardFormContainer button ,
.createBoardButton,
.create-page .container .create-header button.btn{
    cursor: pointer;
    background-image: linear-gradient(to left, #37a1f7,#3062e1, #251dfd);
    color: white;
    padding: 10px;
    border-radius: 25px;
}

.boardFormContainer button:hover ,
.createBoardButton:hover,
.create-page .container .create-header button.btn:hover{
    background-image: linear-gradient(to left, #251dfd,#3062e1, #37a1f7);
    transition: all .5s ease-in-out;
}

@media (max-width: 997px) {
    .create-page .container .create-body {
        flex-direction: column;
        padding-right: 5px;
        max-width: 350px;
    }
    .create-page .container .create-body .form {
        width: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 600px) {
    .create-page {
        margin-top: 60px;
    }
}